<div class="container">
  <h3>Payment Form</h3>
  <div class="row">
    <div class="form-group col">
      <label>Payee Name</label>
      <input class="form-control"
          type="text"
          #nameInput
          (input)="onNameChange(nameInput.value)">
    </div>
    <div class="col">
      <label><b>Name</b></label>
      <div>{{name | titlecase}}</div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Payment Date</label>
      <input class="form-control"
          type="date"
          #dateInput
          (input)="onDateChange(dateInput.value)">
    </div>
    <div class="col">
      <label><b>Payment Date</b></label>
      <div>{{date}}</div>
    </div>
  </div>
</div>
